body {
    background-color: var(--secondary);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#authentication-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 16px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--border);
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 32px;
    max-width: 300px;
    width: 100%;
}

#app-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#app-title-container img {
    width: 50px;
}
#app-title {
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
}

#credentials-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
#credentials-container input[type=text],
#credentials-container input[type=email],
#credentials-container input[type=password] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--border);
    color: black;
}
#credentials-container input[type=text]::placeholder,
#credentials-container input[type=email]::placeholder,
#credentials-container input[type=password]::placeholder {
    color: var(--border);
}
#remember-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
}
#remember-me input {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid var(--border);
    margin: 0;
    cursor: pointer;
}
#remember-me label {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

#submits-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
#submits-container button {
    width: 100%;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
#submits-container span {
    color: black;
    font-size: 14px;
}
#submits-container a {
    text-decoration: underline;
    color: var(--border);
}
