@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* Color */
    --primary: #434343;
    --secondary: #F4F4F4;
    --border: #757575;
    --border-light: #D2D2D2;

    /* Values */
    --tiny: 4px;
    --small: 8px;
    --medium: 16px;
    --large: 32px;
    --extra-large: 64px;
}

* {
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}

#app-title {
    font-family: 'Labrada', sans-serif;
}

body {
    background-color: white;
    margin: 0;
}
